/*Kelsey Crosby*/
/* --- Main Page Structure Layout ---------------------------------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
  }

  body {
	font-family: Gotham-Narrow, Clio;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .content > article {
    flex: 4;
    padding: 2px;
    min-height: 60vh;
  }
  header, footer {
    background: #840029;
    height: 60px;
  }
  header, footer, article, nav {
    padding: 1em;
  }

  footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
  }

/* --- Nav-Bar Formatting -----------------------------------------------------------------------------------------------------*/
  .team-logo {
	display: inline;
	float: left;
	width: auto;
  }

  li a.active {
	color: black;
	font-size: 17px;
	border: white solid 2px;
	background-color: #FAA41A;
	}

  #nav-bar ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
  }

  #nav-bar li{
	display: inline;
	text-decoration: none;
	width: 100px;
	padding-right: 7px;
	float: right;
  }

  li a {
	font-size: 15px;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 10px;
  }

  #nav-bar a{
	text-decoration: none;
	text-align: center;
  }

  #nav-bar a:hover {
	color: black;
	font-size: 17px;
	border: white solid 2px;
	background-color: #FAA41A;
  }
/* --- Main Article Content ---------------------------------------------------------------------------------------------------*/

.about {
	padding-top: 15px;
	text-align: center;
	display: inline-block;
	/*border: black solid 2px;*/
}

/* --- Meet the Teams Content -------------------------------------------------*/
/*View Teams by Game Buttons*/
.game {
  background: #840029;
  border: white 2px solid;
  color: white;
  outline: 0;
  display: inline-block;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  width: 15%;
  font-size: 18px;
}

/*Removes inherited padding*/
.game a {
  padding: 0;
  margin: 0;
}

.game:hover { background-color: black; }

/* --- Profile Cards Formatting -----------------------------------------------*/

/*Team Name Buttons*/
.game-list { 
	text-align:center; 
}

/*Profile Container*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-align: center;
  font-family: arial;
  margin: 0 auto;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 300px;
  border: #840029 1px solid;
}

/*Player Username*/
.title {
  color: grey;
  font-size: 18px;
}

/*View Player Profile Button*/
.player-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/*View Player Profile Button a href*/
.player-button a {
  text-decoration: none;
  font-size: 22px;
}

.player-button:hover { background-color: #840029; /*Maroon*/ }

/*Team Profile Background Container*/
.team-profile-container {
    background-color:#840029; /*Maroon*/
    display: inline-block;
    text-align: center;
}

/*Team Members Container*/
.team-list {
  padding-top: 20px;
	text-align: center;
	display: inline-block;
}

